Backup/
logs/
output/
config/
linear_stability.c
mg_heat_conduction.c
*.jpg
*.jpeg
*.png
*.exe
*.out
*.vtk
*.bak
*.json
*REPORT*
solver*
Solution.csv
Convergence.csv
.vscode/
*.m
fractional_step_solver.n001.cubin
fractional_step_solver.n001.fatbin
fractional_step_solver.n001.gpu
fractional_step_solver.n001.ptx
mat_lib.n001.cubin
mat_lib.n001.fatbin
mat_lib.n001.gpu
mat_lib.n001.ptx
pgcuda.80.cubin
pgcudafat.fatbin
pgcudafat.fatbin.s
pgcudafat.o
profile_report.nsys-rep
profile_report.sqlite
pgcuda.75.cubin
timple_solver.n001.cubin
timple_solver.n001.fatbin
timple_solver.n001.gpu
timple_solver.n001.ptx
test.c
solver.exe
solver.out
GUI_plans.txt
mg_heat_conduction.c
gui_bak.py
boundary_tags*
cloud*
coordinates*
Convergence*
Solution*
normal*
prolongation*
test*
COMP*
bc2*
.build*
header_files/legacy
*_pycache_*